* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(93, 92, 92);
    text-align: center;
    height: 50px;
}

h3 {
    color: whitesmoke;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 20px;
    margin: 30px 20px 30px 20px;

}

ul li {
    margin: 0 0 5px 40px;
}

ul li:nth-of-type(1) {
    text-decoration: overline;
}

ul li:nth-of-type(2) {
    text-decoration:line-through;
    text-align: center;
}

ul li:nth-of-type(3) {
    text-decoration: underline;
    text-align: right;

}